<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.stipop.java_sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_stipop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StipopSample">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>